<head>
    <link rel="stylesheet" href="/assets/style.css" />
</head>

<html>

    <body class="body1">
        <!-- <div class="aside1" style="background-color: rgb(0, 37, 46);"> -->

        <div style="padding: 0 1.6% -0% 1.6%">
            <form action="/submit" method="post" name="loginForm">
                <div style="padding: 1.7% 1%">
                    <textarea class="textarea1" type="text"
                        placeholder="Write your paste here, or run `cat paste.txt | nc 127.0.0.1 7` "
                        name="content"></textarea>
                </div>

                <div style="display: flex; justify-content: center; ">
                    <input type="submit" class="submitbutton"></input>
            </div>
        </form>
        <br>
    </div>

    <div style="padding: 0% 00% ;display: flex; justify-content: center; ">

        <pre style="color: #98767ab2;">
This site is a pastebin clone.
You can upload pastes by using the
text area above, or by piping 
command output using netcet.
        </pre>
        <pre style="color: #98767ab2;">
        examples:
        cat main.go | nc {{.publicServerAdder}}
        ls -lah | nc {{.publicServerAdder}}
        echo $file | nc {{.publicServerAdder}}
        </pre>
    </div>

</body>
